/*Modifica el tamaño del carrousel y el item evitando que las imagenes mas grandes se salgan del carrousel*/
  .carousel, .carousel-inner > .item > img {
  height: 350px;
  }

  body {
    position:"relative";
    background-image: url("../images/fondo.jpg");
    background-size: cover;
  }
  .linea{
    background-color: rgba(0,0,0,0.4);
    height: 120px;

}

  #navALESOFT{
    box-shadow: 0px 20px 40px;

  }

  .cajaTexto{
    color:fff;
    background-color: rgba(211,211,211,0.3);
  }


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#foto{
    width: 220px;
    height: 220px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 280px;
  background:
  /* color overlay */
    linear-gradient(
      rgba(73,155,234,1),
      rgba(0, 0, 0, 0.9)
    ),
    /* image to overlay */
    url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg);
}


/* Custom footer CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
.footertext {
  color: #ffffff;
}


p{
  font-size: 18px;


}


.agrandar:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

}
.shadow{
  box-shadow: 8px 8px 10px #999;
}
